@model MoneyTree.Models.ViewModels.ProjectCostCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<style type="text/css">

    .project_cost_create_row {
        display: flex;
        flex-direction: row;
    }

    .project_cost_create_field {
        padding-right: 15px
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">

</script>

<h1>Add A Cost to A Project</h1>
<div>
    <a asp-action="Details" asp-controller="Project" asp-route-id="@Model.Costs[0].ProjectId">Back to List</a>
</div>
<hr />

<form asp-action="Create" class="" style="width: 100%">
    <div id="pc_form" class="project_cost_create_form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="project_cost_create_row" id="pc_form_row_0">
            <div class="form-group" id="cost_item_projectId_div_0">
                <input type="hidden" asp-for="Costs[0].ProjectId" class="form-control" id="cost_item_projectId_input_0" />
            </div>
            <div class="form-group project_cost_create_field" id="cost_item_select_div_0">
                <label asp-for="Costs[0].CostItemId" class="control-label" id="cost_item_select_label_0">Cost Item</label>
                <select asp-for="Costs[0].CostItemId" class="form-control" asp-items="ViewBag.CostItemId" id="cost_item_select_0"></select>
                <span asp-validation-for="Costs[0].CostItemId" class="text-danger" id="cost_item_select_val_0"></span>
            </div>
            <div class="form-group project_cost_create_field" id="cost_item_date_div_0">
                <label asp-for="Costs[0].DateUsed" class="control-label" id="cost_item_date_label_0">Date Used</label>
                <input asp-for="Costs[0].DateUsed" type="date" class="form-control" id="cost_item_date_0" />
                <span asp-validation-for="Costs[0].DateUsed" class="text-danger" id="cost_item_date_val_0"></span>
            </div>
            <div class="form-group project_cost_create_field" id="cost_item_quantity_div_0">
                <label asp-for="Costs[0].Quantity" class="control-label" id="cost_item_quantity_label_0">Quantity</label>
                <input asp-for="Costs[0].Quantity" class="form-control" id="cost_item_quantity_0" />
                <span asp-validation-for="Costs[0].Quantity" class="text-danger" id="cost_item_quantity_val_0"></span>
            </div>
        </div>
    </div>
    <div>
        <input id="addButton" type="button" class="btn btn-primary" value="Add Another Cost" onclick="AddRow()" />
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


