@model MoneyTree.Models.ViewModels.ProjectCostCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<style type="text/css">

    .project_cost_create_row {
        display: flex;
        flex-direction: row;
    }

    .project_cost_create_field {
        padding-right: 15px
    }
</style>



<h1 class="page_title">
    Add Costs to This Project  <a asp-action="Details" asp-controller="Project" asp-route-id="@Model.Costs[0].ProjectId">
        <i class="fas fa-sm fa-arrow-alt-circle-left"></i>
    </a>
</h1>

<card class="card text-center mb-4" style="padding: 5px; width: 90%">
    <div style="font-size: large; font-weight: bold">
        Project: @Html.DisplayFor(model => model.Project.ProjectName)
        Start Date: @Html.DisplayFor(model => model.Project.StartDate)
    </div>
    <br />
    <form asp-action="Create" id="pc_form" style="width: 100%">
        <div class="project_cost_create_form">
            <div class="project_cost_create_row" id="pc_form_row_0">
                <div class="form-group" id="model_projectId_div_0" style="width: 0%">
                    <input type="hidden" asp-for="ProjectId" class="form-control" id="model_projectId_input_0" />
                </div>
                <div class="form-group" id="cost_item_projectId_div_0" style="width: 0%">
                    <input type="hidden" asp-for="Costs[0].ProjectId" class="form-control" id="cost_item_projectId_input_0" />
                </div>
                <div class="form-group project_cost_create_field" id="cost_item_select_div_0" style="width: 40%">
                    <label asp-for="Costs[0].CostItemId" class="control-label" id="cost_item_select_label_0">Cost Item</label>
                    <select asp-for="Costs[0].CostItemId" class="form-control custom-select" data-search="true"
                            asp-items="@Model.ItemOptions" id="cost_item_select_0"></select>
                </div>
                <div class="form-group project_cost_create_field" id="cost_item_date_div_0" style="width: 30%">
                    <label asp-for="Costs[0].DateUsed" class="control-label" id="cost_item_date_label_0">Date Used</label>
                    <input asp-for="Costs[0].DateUsed" type="date" class="form-control" id="cost_item_date_0" />
                </div>
                <div class="form-group project_cost_create_field" id="cost_item_quantity_div_0" style="width: 15%">
                    <label asp-for="Costs[0].Quantity" class="control-label" id="cost_item_quantity_label_0">Quantity</label>
                    <input asp-for="Costs[0].Quantity" class="form-control" id="cost_item_quantity_0" />
                </div>
                <div class="form-group project_cost_create_field" id="pc_form_removeButton_div_0" style="width: 15%">
                    <label for="removeButton_0" class="control-label" id="removeButton_label_0"
                           style="background-color: transparent; color: transparent; border-color: transparent">Button</label>
                    <input type="button" class="btn btn-dark" id="removeButton_0" value="Remove Cost"
                           style="background-color: transparent; color: transparent; border-color: transparent" />
                </div>
            </div>
        </div>
        <div>
            <input type="button" class="btn btn-dark" value="Add Another Cost" onclick="AddProjectCostRow()" />
            <input type="submit" value="Submit" class="btn btn-dark" />
        </div>
    </form>
</card>

@section scripts {
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src='~/lib/jquery/dist/jquery-customselect-1.9.1.js'></script>
<link href='~/css/jquery-customselect-1.9.1.css' rel='stylesheet' />

<script id="customSelect_0" type="text/javascript">$(document).ready(function () {
        $("#cost_item_select_0").customselect({
            search: true,
            hoveropen: false
        });
    });</script>
}
