@model MoneyTree.Models.CostPerUnit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Cost Per Unit</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="hidden" asp-for="CostItemId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" readonly type="date" class="form-control" />
                <p>***The system attempts to ensure historical cost records for a cost time do not have overlapping date ranges.  Therefore, the Start Date cannot be edited because it was used to set the End Date of the previous record when this one was created.  If you need to change the Start Date, please delete this record and create a new one.</p>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            @if (Model.EndDate == null)
            {

                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" readonly type="date" class="form-control" />
                    <p>***The Current Cost of each Item is represented by a single record with a blank End Date.  If you are attempting to change the currrent cost of an item, please create a new cost record.  The application will automatically close this record when a new one is created.</p>
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            }
            else
            {

                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input asp-for="EndDate" type="date" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="Cost" class="control-label"></label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="CostItem" asp-route-id="@ViewBag.CostItemId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
