@model MoneyTree.Models.ViewModels.EstimateCostCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<style type="text/css">

    .project_cost_create_row {
        display: flex;
        flex-direction: row;
    }

    .project_cost_create_field {
        padding-right: 15px
    }
</style>



<h1 class="page_title">
    Add Costs to This Estimate  <a asp-action="Details" asp-controller="Estimate" asp-route-id="@Model.Costs[0].EstimateId">
        <i class="fas fa-sm fa-arrow-alt-circle-left"></i>
    </a>
</h1>

<card class="card text-center mb-4" style="padding: 5px; width: 70%">
    <div style="font-size: large; font-weight: bold">
        Estimate: @Html.DisplayFor(model => model.Estimate.ProjectTitle)
        Estimate Date: @Html.DisplayFor(model => model.Estimate.EstimateDate)
    </div>
    <br />
    <form asp-action="Create" id="estimate_form" style="width: 100%">
        <div class="project_cost_create_form">
            <div class="project_cost_create_row" id="pc_form_row_0">
                <div class="form-group" id="estimate_model_estimateId_div_0" style="width: 0%">
                    <input type="hidden" asp-for="EstimateId" class="form-control" id="estimate_model_estimateId_input_0" />
                </div>
                <div class="form-group" id="estimate_item_estimateId_div_0" style="width: 0%">
                    <input type="hidden" asp-for="Costs[0].EstimateId" class="form-control" id="estimate_item_estimateId_input_0" />
                </div>
                <div class="form-group project_cost_create_field" id="estimate_item_select_div_0" style="width: 65%">
                    <label asp-for="Costs[0].CostItemId" class="control-label" id="estimate_item_select_label_0">Cost Item</label>
                    <select asp-for="Costs[0].CostItemId" class="form-control custom-select" data-search="true"
                            asp-items="@Model.ItemOptions" id="estimate_item_select_0"></select>
                </div>
                <div class="form-group project_cost_create_field" id="estimate_item_quantity_div_0" style="width: 15%">
                    <label asp-for="Costs[0].Quantity" class="control-label" id="estimate_item_quantity_label_0">Quantity</label>
                    <input asp-for="Costs[0].Quantity" class="form-control" id="estimate_item_quantity_0" />
                </div>
                <div class="form-group project_cost_create_field" id="estimate_form_removeButton_div_0" style="width: 20%">
                    <label for="removeButton_0" class="control-label" id="estimate_removeButton_label_0"
                           style="background-color: transparent; color: transparent; border-color: transparent">Button</label>
                    <input type="button" class="btn btn-dark" id="estimate_removeButton_0" value="Remove Cost"
                           style="background-color: transparent; color: transparent; border-color: transparent" />
                </div>
            </div>
        </div>
        <div>
            <input type="button" class="btn btn-dark" value="Add Another Cost" onclick="AddEstimateCostRow()" />
            <input type="submit" value="Submit" class="btn btn-dark" />
        </div>
    </form>
</card>

@section scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src='~/lib/jquery/dist/jquery-customselect-1.9.1.js'></script>
    <link href='~/css/jquery-customselect-1.9.1.css' rel='stylesheet' />

    <script id="estimate_customSelect_0" type="text/javascript">
        $(document).ready(function () {
        $("#estimate_item_select_0").customselect({
            search: true,
            hoveropen: true
        });
    });</script>
}

