@model MoneyTree.Models.CostItem

@{
    ViewData["Title"] = "Create";
}

<div class="page_title_container container-fluid">
    <h1 class="page_title">Add A Cost Item  <a asp-action="Index"><i class="fas fa-sm fa-arrow-alt-circle-left"></i></a></h1>
</div>
<div class="row">
    <div class="col-md-4">
        <card class="card text-center mb-4" style="padding: 5px">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ItemName" class="control-label"></label>
                    <input asp-for="ItemName" class="form-control" />
                    <span asp-validation-for="ItemName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UnitOfMeasureId" class="control-label">Unit of Measure</label>
                    <select asp-for="UnitOfMeasureId" class="form-control" asp-items="ViewBag.UnitOfMeasureId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="CostCategoryId" class="control-label">Cost Category</label>
                    <select asp-for="CostCategoryId" class="form-control" asp-items="ViewBag.CostCategoryId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-dark" />
                </div>
            </form>
        </card>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
