@model MoneyTree.Models.ViewModels.CostItemIndexViewModel

@{
    ViewData["Title"] = "Index";
}
<script src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"></script>
<div class="page_title_container container-fluid">
    <h1 class="page_title">Cost Items  <a asp-action="Create"><i class="fas fa-plus-circle"></i></a></h1>
</div>

<card id="container" class="card text-center mb-4" style="padding: 5px; width: 40%; display: inline-block">
    <label for="ddlCategory" class="control-label">Select A Cost Category</label>
    <select id="ddlCategory" asp-items="@Model.CategoryOptions"></select>
</card>
<br />
<div id="dvCategoryResults">
    @{Html.RenderPartial("_IndexPartial", Model);}
</div>

<script type="text/javascript">$(document).ready(function () {
        $("#ddlCategory").change(function () {
            var categoryId = $("#ddlCategory").val();
            $("#dvCategoryResults").load('CostItem?categoryId=' + categoryId);
        });
    });</script>  
