@model MoneyTree.Models.ViewModels.CostItemIndexViewModel

@{
    ViewData["Title"] = "Index";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
</script>

<h1>Cost Items</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div id="container">
    <label for="ddlCategory" class="control-label">Select A Cost Category</label>
    <select id="ddlCategory" asp-items="@Model.CategoryOptions"></select>
<br />
<hr />
<div id="dvCategoryResults">
    @{Html.RenderPartial("_IndexPartial", Model);}
</div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlCategory").change(function () {
            var categoryId =  $("#ddlCategory").val();
               $("#dvCategoryResults").load('CostItem?categoryId=' + categoryId);
        });
    });
</script>  