@model IEnumerable<MoneyTree.Models.UnitOfMeasure>

@{
    ViewData["Title"] = "Index";
}

<div class="page_title_container container-fluid">
    <h1 class="page_title">Units of Measure  <a asp-action="Create"><i class="fas fa-plus-circle"></i></a></h1>
</div>

<card class="card text-center mb-4" style="width:25%">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UnitName)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model){
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</card>
