/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url("https://fonts.googleapis.com/css?family=Quicksand");
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 20px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: Quicksand;
    background-color: RGB(227,227,227);
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/*MY CSS*/

.navbar-brand {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: xx-large;
    font-weight: bold;
    border: 2px solid white;
    border-style:inset;
    border-radius: 10px;
}

a.nav-link {
    font-weight: bold;
    font-size: larger;
}

th, td {
    width: auto;
    padding: 10px;
    text-align: center;
    /*font-size: large;*/
    text-wrap: none;
}

h1, h2, h3 {

    font-weight: bold
}

.fas {
    color: RGB(93,109,126);
}

.page_title_container {

    padding-top: 5px;
    padding-bottom: 5px;
}

.container-fluid {

    padding-left: 0;
}

.card {
    border-radius: 10px;
    background-color: RGB(220,220,220);
}

.col-sm {
    padding-right:10px;
    padding-left: 0;
}

dt {
    text-align: right;
    padding-right: 10px;
    font-size:larger;
    font-weight: bolder
}

dd {
    text-align: left;
    padding-right: 0;
    font-size: larger;
    font-weight: bold
}

.control-label {
    font-size: large;
    font-weight: bolder
}
.category {
    padding-left: 20px
}
